body{
    color: rgb(110, 110, 110);
}
.link-nav{
    color: rgb(110, 110, 110);
    text-decoration: none;

}
.link-nav:hover{
    color:rgb(241, 74, 7);
    

}

.link-nav-cate{
    color: rgb(110, 110, 110);
    text-decoration: none;

}
.link-nav-cate:hover{
    color:rgb(241, 74, 7);
    

}

